{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div class="author-profile" itemscope itemtype="https://schema.org/Person">
  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Links</button>
    <ul class="author__urls">
      {% if author.location %}
        <li class="author__desktop">
          <span class="profile-icon" aria-hidden="true"><i class="fas fa-location-dot"></i></span>
          <span>{{ author.location }}</span>
        </li>
      {% endif %}
      {% if author.email %}
        <li>
          <a href="mailto:{{ author.email }}">
            <span class="profile-icon" aria-hidden="true"><i class="fas fa-envelope"></i></span>
            <span>Email</span>
          </a>
        </li>
      {% endif %}
      {% if author.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}">
            <span class="profile-icon" aria-hidden="true"><i class="fab fa-linkedin"></i></span>
            <span>LinkedIn</span>
          </a>
        </li>
      {% endif %}
      {% if author.cv %}
        <li>
          <a href="{{ author.cv | prepend: base_path }}">
            <span class="profile-icon" aria-hidden="true"><i class="fas fa-file-pdf"></i></span>
            <span>CV</span>
          </a>
        </li>
      {% endif %}
      {% if author.googlescholar %}
        <li>
          <a href="{{ author.googlescholar }}">
            <span class="profile-icon" aria-hidden="true"><i class="ai ai-google-scholar"></i></span>
            <span>Google Scholar</span>
          </a>
        </li>
      {% endif %}
      {% if author.openreview %}
        <li>
          <a href="{{ author.openreview }}">
            <span class="profile-icon" aria-hidden="true"><i class="fas fa-pen-to-square"></i></span>
            <span>OpenReview</span>
          </a>
        </li>
      {% endif %}
      {% if author.orcid %}
        <li>
          <a href="{{ author.orcid }}">
            <span class="profile-icon" aria-hidden="true"><i class="ai ai-orcid"></i></span>
            <span>ORCID</span>
          </a>
        </li>
      {% endif %}
      {% if author.github %}
        <li>
          <a href="https://github.com/{{ author.github }}">
            <span class="profile-icon" aria-hidden="true"><i class="fab fa-github"></i></span>
            <span>GitHub</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
